@model Assignment_2.Models.J3Class
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to J3</h2>

<form name="addPeoples" method="GET">
    <div>
        <label for="noofPeople">No of Peoples: </label>
        <input type="number" id="noofPeople" name="NoofPeople" min="1" value="@Model.NoofPeople" />
    </div>
    @if (Model.NoofPeople == 0)
    {
        <button type="submit">Submit</button>
    }
</form>

@if(Model.NoofPeople > 0)
{
    <hr />
    <form name="checkUserAvailability" method="POST" action="/J3/GetAvailableDays">
        <input type="hidden" id="noofPeople" name="NoofPeople" value="@Model.NoofPeople" />
        @for (var i = 1; i <= Model.NoofPeople; i++)
        {
            <div>
                <label for="person-@i">Availibility of Person @i: </label>
                <div id="Availibilities-@i" name="Availibilities">
                    <label for="firstday-@i">First Day: </label>
                    <select id="firstday-@i" name="FirstDay" required>
                        <option disabled selected="selected">Select</option>
                        <option value="Y">Available</option>
                        <option value=".">Not Available</option>
                    </select>

                </div>
            </div>
        }

        <button type="submit">Check Available Days</button>

    </form>
}
