@model Assignment_2.Models.J2Class
@{
    ViewBag.Title = "GetPoints";
}

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <h2>Error: @Model.ErrorMessage</h2>
}
else
{
    <h2>Total SHU value: @Model.TotalSHU</h2>

    <h3>Number of Peppers: @Model.TotalNoofPeppers</h3>
}